version: '3'
services:
  webhook-handler:
    restart: always
    build: '.'
    image: event-reporting-webhook
    ports:
      - 5005:5000
  elasticsearch:
    restart: always
    image: elasticsearch:alpine
    volumes:
      - ./data/elasticsearch:/usr/share/elasticsearch/data
  kibana:
    restart: always
    image: kibana:latest
    ports:
      - 5601:5601
    environment:
     ELASTICSEARCH_URL: http://elasticsearch:9200
